<%
const page = {
  category: 'top',
	hierarchy: './',
}
const meta = {
  title: '',
  keywords: '',
  desc: '',
  ogp: true,
  ogUrl: $data.site_url + '',
  ogTitle: '',
  ogDesc: '',
  ogImage: $data.site_url + '',
  ogType: 'company',
}
_%>


<%- include($layouts + '_page-header', { page: page, meta: meta }); _%>
<%- include($partials + '_header'); %>
<h1>
  Welcome Root page
</h1>
<p>
  <%- include($components + 'button/button--primary.html'); %>
  <%- include($components + 'button/button--secondary.html'); %>

  <a href="/child">Child page</a>
</p>

<%- include($layouts + '_page-footer'); _%>
